<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <elision.getSitemapXmlEntries>
        <processor type="Elision.Feature.Library.SitemapXml.Pipelines.GetSitemapXmlEntries.GetSitemapXmlSettings, Elision.Feature.Library.SitemapXml" />
        <processor type="Elision.Feature.Library.SitemapXml.Pipelines.GetSitemapXmlEntries.GetSitemapXmlEntries, Elision.Feature.Library.SitemapXml" />
      </elision.getSitemapXmlEntries>
    </pipelines>

    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <fieldMap>
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="HideFromSitemapXml"         storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Boolean" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="SitemapXmlPriority"         storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Double"  settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="SitemapXmlChangeFrequency"  storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String"  settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
            </fieldNames>
          </fieldMap>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>

  </sitecore>
</configuration>