<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <elision.getSitemapXmlEntries>
        <processor type="Elision.Feature.Library.SitemapXml.Pipelines.GetSitemapXmlEntries.GetSitemapXmlSettings, Elision.Feature.Library.SitemapXml" />
        <processor type="Elision.Feature.Library.SitemapXml.Pipelines.GetSitemapXmlEntries.GetSitemapXmlEntries, Elision.Feature.Library.SitemapXml" />
      </elision.getSitemapXmlEntries>
    </pipelines>

  </sitecore>
</configuration>