<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.ContentSearch.Linq.NoReferences" version="8.1.160519" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.LuceneProvider.NoReferences" version="8.1.160519" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.NoReferences" version="8.1.160519" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Elision-redist" version="8.1.41-pre" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="8.1.160519" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Logging.NoReferences" version="8.1.160519" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Update.NoReferences" version="8.1.160519" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Zip.NoReferences" version="8.1.160519" targetFramework="net45" developmentDependency="true" />
</packages>